* {
  box-sizing: border-box;
}
:root {
  --primary-blue: #377cd7;
  --fog-white: #D5DCDE;
  --mon-space: "Lucida Console", "Courier New", monospace;
  --sans-serif: "Roboto", sans-serif;
  --primary-black: #000;
  --primary-green: #1eb2aa;
  --green: #052e2c;

}
html {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0 0;
  background: var(--primary-black);
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: scroll;
}
.full-page {
  height: 100%;
  width: 100%;
}
.full-page .image-container {
  width: 100%;
}

.full-page .image-container .screen-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, transparent, black 40%, black 60%, transparent);
  
}

.full-page .chat-section {
  position: relative;
  top: -20px;
  height: fit-content;
  width: 90%;
  margin: 0 auto;
  padding: 2px;
  margin-bottom: 5px;
  
}
.full-page .chat-section .chat-container {
  display: flex;
  gap: 10px;
  font-family: var(--sans-serif);
  margin: 10px 0;
  color: var(--fog-white);
}
.full-page .chat-section .chat-container .chat-name {
  font-size: 20px;
  font-weight: 500;
  min-width: 80px;
}

.full-page .chat-section .chat-container:nth-child(odd) .chat-name{
  color: var(--primary-green);

}
.full-page .chat-section .chat-container:nth-child(even) .chat-name{
  color: var(--primary-blue);

}
.full-page .chat-section .chat-container .chat-text {
  font-size: 18px;
}

.full-page .button-section {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.full-page .button-section .button-link {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 10px;
  color: var(--fog-white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: var(--primary-green);
  border: 2px solid var(--primary-green);
  font-family: var(--mono-space);
  transition: background 0.1s ease-in, color 0.1s ease-in;
  font-family: var(--sans-serif);
  font-weight: bold;
}

.hide {
  display: none;
}





